h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

#visual-portal-wrapper {
    margin: auto;
    width: 600px;
}

/* Content */
#content {
    margin: 1em 0.25em;
}
#content h1.documentFirstHeading {
    border-bottom: 0.2em solid #003366;
    border-left: 0.4em solid #006c00;
}
#content a:hover {
    color: #aaa !important;
}
#category a.link-category:hover {
    color: white !important;
}
/* Footer */
#portal-footer{
    padding: 0.5em 1em;
}


@media screen and (max-width: 600px) {
    #visual-portal-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    #visual-portal-wrapper {
        width: 300px;
    }
}
