#content .feed h1, #content h1.documentFirstHeading {
  border-left: 0.5em solid #FB8B00;
  background: -moz-linear-gradient(left, #003366, gray);
  background: -webkit-gradient(linear, left top, right top, from(#003366), to(gray)); 
  color: white;
  padding-left: 1em;
}

#content .feed h1 a:link {
  border: none;
  color: white !important;
}

#content .feed h1 a:visited {
  border: none;
  color: white !important;
}

#content .feed article {
  padding: 0 0.5em;
}

#content .feed article h1{
  border-left: 0.3em solid #FB8B00;
  border-bottom: 0.1em solid #003366;
  background: transparent;
  padding-left: 1em;
  font-size: 1.5em;
}

#content .feed article h1 a:link{
  border-bottom: none;
  color: #205C90 !important;
}

#content .feed article h1 a:visited{
  border-bottom: none;
  color: #205C90 !important;
}

#content .feed article p {
  margin: 0.3em 1em;
}

#content .feed article p .date {
  margin-right: 0.3em;
  color: #777777;
}